/* Estilo para o menu de navegação */
nav {
    background-color: #8B0000;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: normal;
    transition: color 0.3s ease;
}

nav ul li a:hover,
nav ul li a.active {
    color: #FFD700;
    font-weight: bold;
}

/* Responsividade */
@media (max-width: 768px) {
    nav ul li {
        display: block;
        margin: 10px 0;
    }
}
